@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/* This sets margin, padding and border for elements to 0, a default setting */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Lato;
  color: #777777;
}

h2 {
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #555555;
}